*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: all 0.2s linear ;
    text-decoration: none;

    
}
body{
  background-color: var(--main-body);
}
.active{
  background-color: gold;
}
.Light_Theme{
  --main-body : white;
  --navbar :rgb(242 241 243);
  --buttons :rgb(194, 194, 194); 
  --navcolor : black;
}
.Dark_Theme{
  --main-body : rgb(46, 46, 46);
  --navbar : black;
  --navcolor : white;
  --buttons :rgb(255, 0, 170); 
}
.nav{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 20px;
    background-color: var(--navbar);
    text-decoration: none !important;
}
.nav a{
  color: var(--navcolor);
}
.main{
    height: 90vh;
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-direction: column;
    align-items: center;

}
.main button{
padding: 20px;
margin: 10px;
width: 200px;

}
.box{
    padding: 20px;
background-color: #ebefff;
    width: 400px;
    box-shadow: 0px 0px 13px -7px black;
    border-radius: 11px;
 height: 300px;
}
img{
  width: 100%;
  height: 40%;
  object-fit: cover;
}
.box:hover{
    transform: scale(1.1) ;
    transform: translateY(-5px);
    background-color: #cdd5f3;
}
button{
    background: var(--buttons);
    box-shadow: 0px 0px 48px -11px black;
    cursor: pointer;
    border: none;
    padding: 7px;
    border-radius: 17px;
}
.main-box{
     display: flex;
     justify-content: space-around;
     width: 100%;
     min-height: 50vh;
     flex-wrap: wrap;
     gap: 20px;
}
#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #feffff;
    color: #3e3c3c;
  }
  .homebtn:hover{
 background-color: #dc9bfa;
 transform: scale(1.1) ;
 transform: translateY(-5px);

  }
  .homebtn:active{
    background-color: rgb(255, 0, 170);

  }

  .notice{
    align-items: center;
    width: 100%;
  }

  .list, .grid{
    padding: 10px 30px ;
    margin: 0 10px;
  }

  .list .box{
width: 100%;
  }
  .pagination{
    margin: 10px;
  }
  .Active{
    background-color: rgb(138, 138, 138);
    color: white;
  }
  .pagenationbox{
    width: 100%;
    display: flex;
    justify-content: center;
  }